.App {
  text-align: center;
  background-image: url('./components/smurfvillage2.jpg');
  background-position: center;
  background-size: cover;
  padding-top:20px;
}
.nav{
  text-decoration: none;
  color:black;
  font-weight: bold;
  background:lightblue;
  border:1px solid pink;
  
}

li{
  list-style-type: none;
}